# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Makefiles and targets
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
cli/MonkeyCAM
test/test
util/MonkeyCAMConfig.h
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages
