# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Makefiles and targets
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
engine/cli/MonkeyCAM
engine/test/test
engine/util/MonkeyCAMConfig.h
engine/install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages
engine/.vscode
engine/build
